<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-zinc-900 dark:text-zinc-100">Редактировать бота</h1>
  </div>

  <%= render "form", telegram_bot: @telegram_bot %>
</div>